<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles de la Dieta</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='global/view.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    </head>

    <body>
        <header>
            <h1>Detalles de la Dieta</h1>
            <button class="home-icon" onclick="window.location.href='{{ url_for('index_blueprint.menu') }}'">
                <i class="fas fa-arrow-right"></i> Menu
            </button>
        </header>

        <!-- Bloque para mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        Swal.fire({
                            icon: "{{ 'success' if category == 'success' else 'error' }}",
                            title: "{{ message }}",
                            showConfirmButton: false,
                            timer: 2000
                        });
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}

        <!-- Formulario de búsqueda -->
        <div class="search-container">
            <form action="{{ url_for('dieta_blueprint.view_dieta') }}" method="get">
                <label for="filter_type">Buscar por:</label>
                <div class="select-container">
                    <select id="filter_type" name="filter_type">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="id">ID</option>
                        <option value="tipo_dieta" disabled>Tipo de Dieta</option>
                        <option value="descripcion" disabled>Descripción</option>
                    </select>
                </div>

                <input type="text" id="filter_value" name="filter_value" placeholder="Valor de búsqueda" required>

                <button type="submit">Buscar</button>
            </form>
        </div>

        <!-- Mostrar múltiples registros -->
        {% if dietas %}
            {% if dietas|length > 1 %}
                <h2>Información de las Dietas</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo de Dieta</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dieta in dietas %}
                            <tr>
                                <td>{{ dieta.id_dieta }}</td>
                                <td>{{ dieta.tipo_dieta }}</td>
                                <td>{{ dieta.descripcion }}</td>
                                <td>{{ dieta.fecha_inicio }}</td>
                                <td>{{ dieta.fecha_fin }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% set dieta = dietas[0] %}
                <!-- Detalles de la dieta cuando hay un solo registro -->
                <p><strong>ID de la Dieta:</strong> {{ dieta.id_dieta }}</p>
                <p><strong>Tipo de Dieta:</strong> {{ dieta.tipo_dieta }}</p>
                <p><strong>Descripción:</strong> {{ dieta.descripcion }}</p>
                <p><strong>Fecha de Inicio:</strong> {{ dieta.fecha_inicio }}</p>
                <p><strong>Fecha de Fin:</strong> {{ dieta.fecha_fin }}</p>
            {% endif %}
        {% elif request.args %}
            <p>No se encontraron resultados para el filtro proporcionado.</p>
        {% endif %}
    </body>
</html>