/*-----------------------------------------login-----------------------------------------*/
/* Estilos para el formulario de inicio de sesión */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el ícono de home */
.home-icon {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
}

.home-icon:hover {
    color: #777373;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}