<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Monedas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='global/list.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    </head>

    <body>
        <header>
            <h1>Lista de Monedas</h1>
            <button class="home-icon" onclick="window.location.href='{{ url_for('index_blueprint.menu') }}'">
                <i class="fas fa-arrow-right"></i> Menu
            </button>
        </header>

        <!-- Bloque para mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        Swal.fire({
                            icon: "{{ 'success' if category == 'success' else 'error' }}",
                            title: "{{ message }}",
                            showConfirmButton: false,
                            timer: 2000
                        });
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}

    {% if monedas %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de la Moneda</th>
                <th>Tipo de Moneda</th>
            </tr>
            </thead>
            <tbody>
            {% for moneda in monedas %}
                <tr>
                    <td>{{ moneda.id_moneda }}</td>
                    <td>{{ moneda.nombre }}</td>
                    <td>{{ moneda.tipo_moneda }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay monedas registradas.</p>
    {% endif %}
    </body>
</html>